html{
    padding: 40px 0;
}

body{ 
    font-family: sans-serif;
    background-color: #0E94CC;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    padding: 5px;
    background:whitesmoke;

}

#content{
    margin:20px; 
    width:1000px; 
    margin:0 auto; 
    position:relative; 
    border: dotted; 
    padding: 20px;
    background-color: whitesmoke;
}

#title{
    width: 270px;
    background-color: #5ED0FF;
    border-radius: 10px;
}

#mainSep{
    height: 70px;
    margin-bottom: 15px;
}

#mainSep1{
    float:left;
    width: 500px;
    margin-top: 10px;
}

#mainSep2{
    float:right;
    width: 500px;
}

#secSep1{
    float:left;
    width: 250px;
}

#secSep2{
    float:right;
    width: 250px;
}

#searchForm{
    margin-top: 20px;
    padding: 10px;
    border: dashed;
}

#contactForm{
    margin-top: 20px;
    padding: 10px;
    border: dotted;
}

.hr1{
    border-width: 5px;
}


/* @font-face {
    font-family: timeBurner;
    src: url(timeburnernormal.ttf);
}
body {
    font-family: timeBurner;
} */