html{
    padding: 40px 0;
}

body{ 
    font-family: sans-serif;
}

#title{
    width: 270px;
    background-color: #0E94CC;
    border-radius: 10px;
}

#mainSep{
    height: 70px;
    margin-bottom: 15px;
}

#mainSep1{
    float:left;
    width: 500px;
    margin-top: 10px;
}

#mainSep2{
    float:right;
    width: 500px;
}

#secSep1{
    float:left;
    width: 250px;
}

#secSep2{
    float:right;
    width: 250px;
}

#searchForm{
    margin-top: 20px;
    padding: 10px;
    border: dashed;
}

.hr1{
    border-width: 5px;
}


/* @font-face {
    font-family: timeBurner;
    src: url(timeburnernormal.ttf);
}
body {
    font-family: timeBurner;
} */